<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">

	<groups>
		<run>
			<include name="purchase" />
		</run>
	</groups>

	<listeners>
		<listener class-name="baseComponents.Listeners" />
	</listeners>
	<test thread-count="5" name="StandAloneTest">
		<classes>
			<class name="raviacademy.StandAloneTest2" />
		</classes>
	</test> <!--
	Test -->
	<test name="Error validations test">
		<classes>
			<class name="raviacademy.ErrorValidations" />
		</classes>
	</test>
</suite> <!--
Suite -->
